#settingsContainer
{
    position: absolute;
    display: none; /**/
    width: 100%;
    height: 100%;
    z-index: 1000;
    backdrop-filter: blur(4px);
}

#settingsBackground
{
    position: fixed;
    width: 100%;
    height: 100%;
}

#settingsMenu
{
    width: 800px;
    height: 500px;
    background-color: rgba(var(--backgroundAlt), 1);
    border: 1px solid rgba(var(--foreground), 1);
    border-radius: 10px;
}

#settingsMenu > table
{
    height: 100%;
    width: 100%;
}

.settingsRadioTabs
{
    width: 230px;
    vertical-align: text-top;
}

/*#region Radio button*/
.radioButtonContainer
{
    display: block;
    position: relative;
    padding-left: 20px;
    margin: 20px 10px;
    cursor: pointer;
    user-select: none;
}

.radioButtonContainer input
{
    position: absolute;
    transform: translate(-200%, 50%); /*Hide the orignal button inside of itself*/
    opacity: 0;
    cursor: pointer;
}

.radioButton
{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: rgba(var(--background), 1);
    border: 1px solid rgba(var(--foreground), 1);
    border-radius: 50%;
}

.radioButtonContainer input:checked ~ .radioButton
{
    background-color: var(--main-accent);
}

.radioButton:after
{
    content: "";
    position: absolute;
}

.radioButtonContainer .radioButton:after
{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgba(var(--foreground), 1);
}
/*#endregion*/

/*#region Checkbox*/
.checkboxContainer
{
    width: max-content;
    display: block;
    position: relative;
    padding-left: 20px;
    margin: 20px 10px;
    cursor: pointer;
    user-select: none;
}
  
.checkboxContainer input
{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    cursor: pointer;
}
  
.checkmark
{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: rgba(var(--background), 1);
    border: 1px solid rgba(var(--foreground), 1);
}
  
.checkboxContainer input:checked ~ .checkmark
{
    background-color: var(--main-accent);
}
  
.checkmark:after
{
    content: "";
    position: absolute;
    display: none;
}
  
.checkboxContainer input:checked ~ .checkmark:after
{
    display: block;
}
  
.checkboxContainer .checkmark:after
{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 3px;
    height: 8px;
    border: solid rgba(var(--foreground), 1);
    border-width: 0 2px 2px 0;
}

.settingsTabs .checkboxContainer
{
    margin-left: 0;
}
/*#endregion*/

.settingsTitleRow { height: max-content; }

.settingsTitleRow > th > h3
{
    text-align: left;
    padding-left: 10px;
}

.settingsTabs
{
    vertical-align: text-top;
}

.settingsTabs > table
{
    width: 100%;
    height: 100%;
}

.settingsTabs > table > tbody > tr
{
    vertical-align: text-top;
}

input[type="text"]
{
    border: none;
    border-bottom: 1px solid rgba(var(--foreground), 1);
    width: 40%;
    box-sizing: border-box;
    height: 30px;
    background-color: transparent;
}

input:disabled
{
    color: rgba(var(--foreground), 0.5);
    border-bottom: 1px solid rgba(var(--foreground), 0.5) !important;
}

.settingsTabs p
{
    margin-bottom: 2.5px;
}

.settingsTabs input
{
    outline-width: 0;
    margin-bottom: 15px;
    font-weight: normal;
    width: 300px;
    height: 30px;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid rgba(var(--foreground), 1);
}

.settingsTabs button
{
    margin-top: 15px;
}

.link
{
    font-weight: normal;
    color: #00B5EE;
}

#ttsSettings
{
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
}

#ttsOptionsContainer
{
    display: none;
}

#filtersEnabled > span > p
{
    margin-left: 10px;
}

#filterOptions
{
    display: none;
}

#filterOptions span > p
{
    margin-left: 10px;
}

#filterWordsInfo
{
    margin-left: 10px;
}

#filterWords
{
    margin-left: 10px;
    width: 90%;
    resize: vertical;
    min-height: 60px;
    height: max-content;
    max-height: 150px;
    font-weight: normal;
    background-color: rgba(var(--background), 1);
    border: 1px solid rgba(var(--foreground), 1);
    border-radius: 7.5px;
    outline: none;
    outline-width: 0;
}

#vcSupportNotice
{
    display: none;
}

#vcContainer
{
    display: none;
}

#vcOptionsContainer
{
    display: none;
}

#inputDevices
{
    width: 300px;
    height: 30px;
    background-color: transparent;
    margin-bottom: 15px;
    font-weight: normal;
    outline-width: 0;
    border: 0;
    border-bottom: 1px solid rgba(var(--foreground), 1);
    cursor: pointer;
}

#inputDevices > option
{
    font-weight: normal;
    background-color: rgba(var(--background), 1);
}

/*Modify for scrolling after a certain height and more custom css like accent hover colour*/
#inputDevices > option:hover
{
    background-color: rgba(var(--main-accent), 1);
}

#saveVCSettings
{
    /*margin: 0;*/ /*For when the dropdown is the item above the button*/
}

#inputPreview
{
    margin-top: 10px;
    width: 300px;
    height: 45px;
}